.chatWindow {
    height: calc(100% - 130px);
    top: 5px;
    margin: 5px;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
}